
h2 {
  margin: .7em auto .5em auto;
}
ul {
  text-decoration: none;
  list-style: none;
  margin: auto 0px;
  padding: 0px 0px;
}
p, a {
  margin: .33em auto;
}
a, p, li {
	font-family: Arial;
}
h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {
	font-family: Times New Roman;
}
